.cache/
.DS_Store
.github/scripts/__pycache__/
.jupyterlite.doit.db
.lite_src/

_site/
dist/
docs/.jupyter
docs/.ipynb_checkpoints/
docs/_build/
docs/__pycache__/
docs/api/
grheat/.DS_Store
grheat/__pycache__/
grheat.egg-info/
tests/__pycache__/
